body{
    background-image: url(https://i.pinimg.com/originals/2b/3b/04/2b3b04771ccca26c3dd96d781b0117ca.jpg);
    background-size: cover;
}

.painel {
    background-color: rgb(146, 180, 21);
    border: 10px solid rgb(238, 255, 0);
    height: 500px;
    width: 400px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 30px;
    box-shadow: 3px 3px 15px black;
}

.pokemon{
    width: 100px;
    height: 100px;
}
#tela{
    margin: auto;
    background-color: rgb(165, 168, 0);
    border: 15px solid rgb(173, 163, 17);
    width: 300px;
    height: 290px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-listrado-geometrico-diagonal-amarelo-com-detalhes-de-meio-tom_1409-1451.jpg);
    background-size: cover;
    animation: carregar 10s alternate;

}

@keyframes carregar {
    0%{ height: 0; }
    100%{  }
}  

p{
    background-color: rgba(0, 0, 0, 0.388);
    width: 250px;
    margin: auto;
}
h2{
    background-color: rgba(0, 0, 0, 0.388);
    width: 250px;
    margin: 40px auto;
    border-radius: 10px;
}

#entrada{
    height: 30px;
    text-align: center;
    border-radius: 10px;
}

button{
    height: 35px;
    margin: 7px;
    background-color: rgb(0, 0, 0);
    color: rgb(184, 197, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0)
}